<section>
  <h1>Olá, eu sou o Evaldo 👋</h1>
  <p>Apaixonado pelo desenvolvimento web e por estar sempre melhorando o meu próprio código. Atualmente trabalho como um Desenvolvedor de Software pela Profectum, fornecendo meus serviços em projetos e saúde de sistema no Grupo 3Corações, trabalhando principalmente com .NET. Faço semanalmente projetos no meu GitHub para melhoria pessoal de meu código.</p>
  <div class="redes">
    <a href="https://www.linkedin.com/in/evaldorodrigues/"><i class='bx bxl-linkedin' ></i></a>
    <a href="https://github.com/evaaldo"><i class='bx bxl-github' ></i></a>
  </div>
</section>
