<section>
  <h1>Últimos Projetos 📚</h1>
  <div class="projetos">
    <div class="projeto">
      <a href="https://github.com/evaaldo/BLOG">Um blog construído com o intuito de colocar conhecimentos sobre angular em prática</a>
      <small>Blog</small>
    </div>
    <div class="projeto">
      <a href="https://github.com/evaaldo/ANGULAR-STUDY-2">Uma calculadora de investimentos feita com o objetivo de me aprofundar nos conhecimentos de angular</a>
      <small>Investment Calculator</small>
    </div>
    <div class="projeto">
      <a href="https://github.com/evaaldo/ANGULAR-STUDY-1">Um todo list feito com o objetivo de iniciar meus passos no desenvolvimento com angular</a>
      <small>Easy Task</small>
    </div>
  </div>
</section>
